body {
 background-image: url("https://photos.google.com/photo/AF1QipO-LM4ApL1VJlt6Og6M4diqfmCDVRMDsZsQm0qi");
 background-position: top center;
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
}


