body {
 background-image: url("https://mail.google.com/mail/u/0/popout?ver=zs1qyhlt6gr6#attid%253Datt_1978e32212fda712_0.1_1978e31fe52517cb9a51");
 background-position: top center;
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
}

