body {
 background-image: url("https://github.com/Be-ri/Web-Project/oimages/https://photos.fife.usercontent.google.com/pw/AP1GczM4c7gcxYWmHKXmwe5ELO_B_yalY_xpWkRLnG5izGh3osq1EN8fhwqmZw=w1741-h804-s-no-gm?authuser=0");
 background-position: top center;
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
}


